@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.toy-img {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border: 2px solid #efefef;
    border-radius: 10px;
    margin: 0 auto;
}

.toy-card {
    max-width: 220px;
}

@media (max-width: 767px) {
    .toy-card {
        max-width: 100%;
    }

    .toy-img {
        width: 250px;
        height: 250px;
    }
}