@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --tdbGray: #F4F4F4;
    --tdbRed: #F84C5A;
    --tdbCyan: #59D6EA;
    --tdbYellow: #FFBD02;
}

.bg-tdb-gray {
    background-color: var(--tdbGray);
}

.bg-tdb-red {
    background-color: var(--tdbRed);
}

.bg-tdb-cyan {
    background-color: var(--tdbCyan);
}

.bg-tdb-yellow {
    background-color: var(--tdbYellow);
}

.text-tdb-gray {
    color: var(--tdbGray);
}

.text-tdb-red {
    color: var(--tdbRed);
}

.text-tdb-cyan {
    color: var(--tdbCyan);
}

.text-tdb-yellow {
    color: var(--tdbYellow);
}

.toy-img {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border: 2px solid #efefef;
    border-radius: 10px;
    margin: 0 auto;
}

.toy-card {
    max-width: 220px;
}

@media (max-width: 767px) {
    .toy-card {
        max-width: 100%;
    }

    .toy-img {
        width: 250px;
        height: 250px;
    }
}